
<section>
  <div class="flex col-12 p-0">
    <div class="col-6 p-0 h-full">
      <img src="assets/login/cover.png" class="max-height" alt="login" height="100%" width="100%">
    </div>
    <div class="col-6 p-6 h-full">

      <div class="flex-column mx-auto ">
        <div>Welcome to One Mart</div>
        <div>Please Enter the requried </div>
      </div>

      <div class="py-5">
        <form (ngSubmit)="onSignup()" [formGroup]="formGroup">
    
          <div class="py-2">
            <label for="fName">First Name</label>
            <input pInputText class="w-full" type="text" formControlName="fName" name="fName" id="fName">
            <div *ngIf="f['fName'].errors && submitted">
              <div *ngIf="f['fName'].errors['required']"> First Name is required </div>
            </div>
          </div>

          <div class="py-2">
            <label for="lName">Last Name</label>
            <input pInputText class="w-full" type="text" formControlName="lName" name="lName" id="lName">
            <div *ngIf="f['lName'].errors && submitted">
              <div *ngIf="f['lName'].errors['required']"> Lasst Name is required </div>
            </div>
          </div>
          
          
          <div class="py-2">
            <label for="email">Email</label>
            <input pInputText class="w-full" type="email" formControlName="email" name="email" id="email">
            <div *ngIf="f['email'].errors && submitted">
              <div *ngIf="f['email'].errors['required']"> Email is required </div>
            </div>
          </div>
        
          <div class="py-2">
            <label for="password">Password</label>
            <div class="input-wrapper">
              <input pInputText [type]="passwordShow ? 'text' : 'password'" formControlName="password" name="password" class="password-input" id="password">
              <span (click)="togglePasswordVisibility()" class="toggle-button text-xs"> {{passwordShow ? 'Hide' : 'Show' }} </span>
            </div>
            <div *ngIf="f['password'].errors && submitted">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
          </div>
        
          <!-- <button type="submit">Sign Up</button> -->
          <button pButton class="w-full" (click)="gotoLogin()">Login</button>
        </form>
      </div>

      <div>
        <p-divider align="center" type="dotted">
          <b>Center</b>
          </p-divider>
      </div>


    </div>
  </div>
</section>



